<div class="jumbotron custom-container">
      <div class="container">
        <h1>Commit Monitor</h1>
        <p>Monitor your Github repositories and notifies you on new commits</p>
        <div class="button-group">
            <a class="btn btn-primary btn-lg" ng-href="https://github.com/mlabouardy/Commit-Monitor" role="button"><i class="fa fa-github-alt"></i> Github</a>
            <a class="btn btn-success btn-lg" ng-href="#/repository" role="button"><i class="fa fa-external-link-square"></i> Start</a>
        </div>
      </div>
    </div>