<div class="container-fluid custom-container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">Owner <a class="btn btn-danger btn-xs pull-right" ng-href="{{owner.url}}"><i class="fa fa-github-alt"> View</i></a></div>
				<div class="panel-body">
					<img class="img-circle" ng-src="{{owner.avatar}}" width="40px"/>
					{{owner.login}}<br/>
					Followers: {{owner.followers}}<br/>
					Following: {{owner.following}}<br/>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Repo info 
					<div class="button-group pull-right">
						<a class="btn btn-success btn-xs">{{repo.language}}</a>
						<a class="btn btn-warning btn-xs">{{repo.private_repo}}</a>
						<a class="btn btn-danger btn-xs" ng-href="{{repo.url}}"><i class="fa fa-code-fork"> Open</i></a>
					</div>
				</div>
				<div class="panel-body">
					<i class="fa fa-info"></i>: <small>{{repo.description}}</small><br/>
					<i class="fa fa-clone"></i>: <small>{{repo.clone}}</small><br/>
					<i class="fa fa-calendar-o"></i>: <small>{{repo.created_at}}</small><br/>
					<i class="fa fa-calendar-times-o"></i>: <small>{{repo.updated_at}}</small><br/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">Repo info</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">Panel heading</div>
				<div class="panel-body">
					<p>...</p>
				</div>

				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
</div>